body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 42, 134, 0.32);
    background-image: url("/assets/images/auth/bg-login.svg");
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    display: flex;
}

.login-image {
    flex: 1;
    background-color: #e6f2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-form {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.text-login {
    font-size: 18px;
    color: #ff8427;
    margin: 10px 0;
}

.subtext {
    color: #666;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.remember-me input {
    margin-right: 8px;
}

.login-button {
    width: 100%;
    background-color: #ff8427;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.login-button:hover {
    background-color: #e67416;
}

@media (max-width: 768px) {
    .login-card {
        flex-direction: column;
    }

    .login-image {
        display: none;
    }

    .login-form {
        align-items: center;
        text-align: left;
    }

    .logo {
        margin: 0 auto 20px; /* Memastikan logo berada di tengah */
    }
}
